.bookCard {
    display: block;
    width: 240px;
    text-align: left;
}

.bookCard img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bookCover {
    height: 16em;
    width: 12em;
    margin-bottom: 50px;
}

.infoTag {
    font-style: italic;
    color: grey;
}