.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    text-align: center;
}

.pagination {
    list-style-type: none;
    margin: 0;
    padding: 10px 10px;
    width: 100%;
}
  
.pagebutton {
    display: inline-table; 
}

.pagination .pagebutton a {
    display: inline-table;
    padding: 14px 16px;
    text-decoration: none;
    
}

.pagination .pagebutton:hover {
    background-color: cornflowerblue;
}

.active {
    background-color: cornflowerblue;
}

.invisible {
    visibility: hidden;
}


