.bookCard {
	width: 17em;
	/*display: inline-block;
    justify-content: space-evenly;*/
	text-align: left;
	padding-bottom: 10vh;
	margin-bottom: 5vh;
}

.bookCard img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.bookCard .bookPageLink {
	text-align: center;
	display: inline-block;
}

.bookCover {
	height: 16em;
	width: 12em;
	margin-bottom: 30px;
}

.infoTag {
	font-style: italic;
	color: grey;
}

.authorTag {
	color: grey;
	text-align: left;
}
